<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <title>Appointment Management application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet" />
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
    const deleteevent = (id) => {
        fetch(`/lists/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.erroe(err));
      }
    </script>
  </head>
  <body style="background-color: #E4F9F5;">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2" >
        <%- include("header.ejs") %> 
        <a href="/signout" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 pt-2 mt-3 mr-8"> Signout</a>
        <form action="/lists" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3 mt-3 ">
            <label for="firstname" style="color: #11999E;"><em>Appointment Name: </em></label>
            <input
                type="string"
                name="title"
                placeholder="Event name"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
              />
         </div>
         <div class="py-3">
          <label for="firstname" style="color: #11999E;"><em>Start Time: </em></label>
              <input
                type="time"
                name="starttime"
                placeholder="Starting time"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
              />
            </div>
            <div class="py-3">
              <label for="firstname" style="color: #11999E;"><em>End Time: </em></label>
                <input
                  type="time"
                  name="endtime"
                  placeholder="ending time"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                />
              </div><br>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-0"
              >
                Add
              </button>
        </form>
        <div class="py-3 mt-2 ">
          <%- include('lists.ejs', { data: allevents}) %> 
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                 <div class="bg-red-300 text-red-900 p-2 rounded-lg shadow">
                    <li> <%= messages.error[i] %></li>
                 </div>
            <% } %>
          <% } %>
          <% if(messages && messages.success && messages.success.length > 0)  { %>
            <% for(var i=0; i<messages.success.length; i++) { %>
                 <div class="bg-green-300 text-green-900 p-4 rounded-lg shadow">
                    <li> <%= messages.success[i] %></li>
                 </div>
            <% } %>
          <% } %>
        </div> 
      </div>
    </div>
      </div>
    </div>
  </body>
</html>